<!-- OUT OF USE-->

.pop-enter {
  transform: scale(0);
  opacity: 0;
}
.pop-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: transform 250ms ease-out, opacity 250ms ease-out;
}
.pop-exit {
  transform: scale(1);
  opacity: 1;
}